@font-face {
    font-family: 'iconfont';
    src: url('./iconfont.eot');
    src: url('./iconfont.eot?#iefix') format('embedded-opentype'),
        url('./iconfont.woff2') format('woff2'),
        url('./iconfont.woff') format('woff'),
        url('./iconfont.ttf') format('truetype'),
        url('./iconfont.svg#iconfont') format('svg');
  }

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


*{
    margin: 0;
    padding: 0;
}

body {
    background: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}

.head {
    /* width: 100px; */
    /* margin-top: 100px; */
    height: 200px;
    opacity: .7;
    color: white;
    background:#1C2E3A;
}

.head p {
    padding: 20px;
    font-size: 29px;
    cursor: pointer;
}

.body span:hover {
    color: darkkhaki;
    cursor: pointer;
}

.head p:hover {
    color: darkkhaki;

}

.body {
    margin-top: 40px;
    opacity: .7;
}
.body p {
    background: #1C2E3A;
}

.body span {
    color: white;
    font-size: 25px;
}

.foot {
    margin: 100px;
}

.foot .name {
    width: 300px;
    height: 100px;
    background:  #1C2E3A;  
    border-radius: 20px;
    position: relative;
    left: 400px;
    top: 100px;
    opacity: .7;
}

.foot .name span {
    position: absolute;
    color: white;
    font-size: 30px;
    left: 40px;
    top: 25px;
}

.data {
    position: relative;
    left: 900px;
}

.data .border {
    position: relative;
    left: -100px;
    /* width: 320px; */
    height: 150px;
    border-left: 1px solid gray;
}

.data .border .bordert {
    position: absolute;
    opacity: .7;
    left: 70px;
}
.data .border span {
    color: white;
    font-size: 27px;
    margin-top: 15px;
}

.iconfont {
    color: white;
    font-size: 27px;
}